<div class="cart-contents">
  {% if cart.item_count > 0 %}
  <form action="/cart" method="post" novalidate>
    <fieldset id="cart-fieldset" class="js-cart-fieldset">
    
        <div class="cart-lines">
    
          {% for item in cart.items %}
            {% include 'line-item' %}
          {% endfor %}

        </div>

    <div class="cart-totals">
      <div class="subtotal-line">
        <h3>{{ 'cart.filled.subtotal' | t }}</h3>
        <span class="price">
          {{ cart.total_price | money }}
        </span>
      </div>
      <div class="cart-buttons">
        <button class="update-button" type="submit" name="update">{{'cart.filled.update' | t }}</button>
        <button class="button-cta" type="submit" name="checkout">{{ 'cart.filled.button' | t }}</button>
      </div>
    </div>

    <p class="currency-note js-cart-currency-note">
      {{'cart.filled.currency_note_html' | t: currency: shop.currency }}
    </p>
    </fieldset>
  </form>
  {% else %}
    <p class="cart-empty-text ta-center">
      {{ 'cart.empty.title' | t }}
    </p>
    <a href="/" class="button keep-shopping js-keep-shopping">
      {{'cart.empty.button' | t }}
    </a>
  {% endif %}
</div>