<div id="header-global">

  <div class="header-left">
    <a href="/" class="link-logo">
      {% assign shop_title = 'general.shop.title' | t %}
      {% include 'inline-icon' with svg: 'logo-black.svg', alt: shop_title, class: 'logo-main' %}
    </a>
    {% include 'nav-list', handle: 'main-menu', class: 'header-nav-list' %}
  </div>

  <div class="header-right">

    <a class="text-link" href="/search">
    Search
    {% include 'inline-icon' with svg: 'icon-search.svg' %}
    </a>

    {% include 'currency-picker' %}

    <a class="text-link cart-link js-cart-link" href="/cart">
      {{ 'cart.button.count_html' | t: itemCount: cart.item_count }}
    </a>

    <!-- {% if shop.customer_accounts_enabled %}
    {% if customer %}
    <a href="/account">account</a>
    {{ 'log out'  | customer_logout_link }}
    {% else %}
    {{ 'log in ' | customer_login_link }}
    {{ 'register' | customer_register_link }}
    {% endif %}
    {% endif %} -->
  </div>
</div>