$headline-font: "Noto Serif", "Georgia", "Times New Roman", serif;
$text-font: "Plex Mono", "Courier New", courier, monospace;

$black: #000000;
$white: #ffffff;

$light-white: #fafafa;
$light-black: #333333;

$text-color: #555555;
$text-color-white: #cccccc;
$text-color-light: #707070;
$text-color-light-white: #aaaaaa;

$border-color: rgba(0, 0, 0, 0.15);
$border-color-white: rgba(255, 255, 255, 0.15);

$standard-border: 1px solid $border-color;
$standard-border-white: 1px solid $border-color-white;

$line-global: 20px;
$gutter-global: $line-global * 2;
$offset-global: $gutter-global;

$header-height: 100px;

$type-headline-lg: 40px;
$type-headline-med: 20px;
$type-headline-sm: 15px;
$type-body-lg: 31px;
$type-body-med: 13px;

$type-bold: 700;
$type-book: 400;

$button-height: $line-global * 2;
