.collection-list {
  @extend .grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;

  aside {
    grid-column: span 2;
    grid-row: 1;
  }
  .product-card {
    &:nth-of-type(odd) {
      grid-column: 3/7;
    }
    &:nth-of-type(even) {
      grid-column: 7/11;
    }
    &:nth-of-type(1),
    &:nth-of-type(2) {
      grid-row: 1;
    }
  }
}
