$slider-button-size: 50px;

.slider-button {
  @include reset-input;
  font-size: $slider-button-size;
  width: $slider-button-size;
  height: $slider-button-size;
  line-height: $slider-button-size;
  text-align: center;
  color: $text-color;
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -($slider-button-size);
  overflow: hidden;
  &:hover {
    color: $black;
  }
  &.prev {
    left: 0;
  }
  &.next {
    right: 0;
  }
}
