#page-collection {
  #collection-image {
    height: 33vh;
    min-height: 250px;
    max-height: 800px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .collection-content {
    grid-template-columns: repeat(12, 1fr);
    padding-top: $offset-global;
  }
  .collection-sidebar {
    grid-column: span 2;
    grid-row: 1;
  }
  .product-card {
    &:nth-of-type(odd) {
      grid-column: 3/7;
    }
    &:nth-of-type(even) {
      grid-column: 7/11;
    }
    &::nth-of-type(1),
    &::nth-of-type(2) {
      grid-row: 1;
    }
  }
  .collection-description {
    margin-top: $line-global;
  }
  .collection-sorting {
    margin-top: $line-global;
    border-top: $standard-border;
    padding-top: $offset-global;
  }
}
